<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="noindex">
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">

<title>All articles</title>

{{ template "inline_css.html" }}
<style>

#arc {
  border-collapse: collapse;
  margin-top: 12px;
}

#arc th {
  padding: 0 1.75em 0 0;
  vertical-align: baseline;
  text-align: right;
}

.year th {
  background: #dfdfdf;
  color: black;
}
</style>

<script type="text/javascript" src="{{ .JqueryUrl }}"></script>

{{ template "tagcloud.js" }}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml2();
  $('#tagCloud').html(html);
}

$(document).ready(function(){
});
</script>

</head>
<body>

<div id="tophdr">
  <h1 style="padding-left:12px">
    <a href="/" class="namelink">Krzysztof Kowalczyk</a>
    <span style="float:right; font-size:80%; font-weight:normal; margin-right: 12px;">
      <a class="hdrlink" href="/blog">Blog</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/notes/">Notes</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/software/">My Software</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/documents.html">My Documents</a>
    </span>
  </h1>
</div>

{{ $isAdmin := .IsAdmin }}

<div id="content" style="line-height:1.50; margin-top: 18px; margin-left: 12px; margin-right: 12px;">

  <div style="float: right; margin-right: 12px; margin-left: 12px; font-size: 80%; border: 1px solid #CCC; padding: 6px;">
  {{ if .IsAdmin }}
    <a href="{{ .LogInOutUrl }}">log out</a><br>
    <a href="/app/edit">new blog post</a><br>
    <a href="/app/edit?note=yes">new note</a><br>
    <a href="/app/showprivate">show private</a><br>
    <br>
  {{ end }}
    <div class="sidebarhdr">Tags:</div>
      <div style="margin-left: 6px; max-width:180px">
        <span id="tagCloud"></span>
      </div>
    </div>
  </div>

  {{ if .PostsCount }}
    <div style="font-size: 110%; font-weight: bold;">
      {{ if .Tag }}
        {{ .PostsCount }} posts tagged as '{{ .Tag }}':
      {{ else }}
        {{ .PostsCount }} posts:
      {{ end }} 
      {{ if not .IsAdmin }}
      <a id="login" class="invisible" onMouseOver="showById('login');" onMouseOut="hideById('login');" href="{{ .LogInOutUrl }}">login</a>
      {{ end }}
    </div>

    <table id=arc>
      {{ range .Years }}
        <tr class=year><th colspan="2" style="text-align: left; padding-left: 5px;">{{ .Name }}</th></tr>
        {{ range .Articles }}
        <tr>
          <td style="color:gray; text-align:right; vertical-align:top; font-size:80%; padding-right:8px; padding-left:8px; padding-top:2px" nowrap>{{ .DisplayMonth }}</td>
          <td style="padding-top:2px">
            <a href="/{{ .Permalink }}">{{ .DisplayTitle }}</a>
            {{ if .TagsDisplay }}&nbsp;
              <span style="font-size:80%">
              <span class="taglink">tags:</span> {{ .TagsDisplay }}</span>
            {{ end }}

            {{ if .IsDeleted }}
            &nbsp;<font color="red">deleted</font>
            {{ end }}
            {{ if .IsPrivate }}
            &nbsp;<font color="red">private</font>
            {{ end }}
            {{ if $isAdmin }}&nbsp;
            <a id="article_edit" href="/app/edit?article_id={{ .Id }}">edit</a>
            {{ end }}
          </td>
        </tr>
        {{ end }}
      {{ end }}
    </table>
    <br>
  {{ end }}

  <hr>
</div>

{{ template "analytics.html" . }}

<script charset="utf-8" type="text/javascript" src="{{ .ArticlesJsUrl }}"></script>

</body>
</html>
