<!doctype html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>{{ .PageTitle }}</title>

<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">
<link  href="{{ .PrettifyCssUrl }}" type="text/css" rel="stylesheet">
{{ template "inline_css.html" }}
<style type=text/css>
body {
  font-size: 11pt;
}
h1 {
  font-size: 140%;
}
</style>

<script type="text/javascript" src="{{ .JqueryUrl }}"></script>
<script src="{{ .PrettifyJsUrl }}" type="text/javascript"></script>

{{ template "tagcloud.js" }}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  /* no need to do anything */
}

$(document).ready(function(){
});
</script>

</head>

<body onload="prettyPrint()">

{{ template "page_navbar.html" . }}

<div id="content">

  <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
      <h1 style="display:inline;">
        <span class="title">
        {{ .Article.Title }}
        {{ if .Article.IsDeleted }}
          &nbsp;<font color="red">deleted</font>
        {{ end }}
        {{ if .Article.IsPrivate }}
          &nbsp;<font color="red">private</font>
        {{ end }}
        </span>
        {{ if not .IsAdmin }} <a id="login_id" class="invisible" onMouseOver="showById('login_id');"
        onMouseOut="hideById('login_id');" href="{{ .LogInOutUrl }}">login</a>
        {{ end }}
    </h1>

    <div style="margin-right:48px;">
    {{ .Article.HtmlBody }}
    </div>

    <div class="postmeta">Written on {{ .Article.PublishedOnShort }}{{ if .Article.TagsDisplay }}. Topics: {{ .Article.TagsDisplay }} {{ end }}
    </div>

    <table class="postmeta" style="padding-top:8px;padding-bottom:16px;border-spacing:0px">
    {{ if .NextArticle }}
    <tr>
      <td style="margin:0px; padding:0px; padding-right: 8px;"><a title="{{ .NextArticle.Title }}" href="/{{ .NextArticle.Permalink }}">« {{ .NextArticle.Title }}</a></td>
      <td style="padding:0px; padding-right: 8px">&bull;</td>
    {{ end }}
    {{ if .PrevArticle }}
      <td style="margin:0px; padding:0px"><a title="{{ .PrevArticle.Title }}" href="/{{ .PrevArticle.Permalink }}">{{ .PrevArticle.Title }} »</a></td>
    </tr>
    {{ end }}
    </table>
  </div>

<!--
<center>
<table class="ad" style="visibility:hidden;" cellspacing=0 cellpadding=0>
<tr><td>
  <a href="http://www.yepi.ws/fotofi/free-stock-photos"><b>Free stock photos</b></a>
</td></tr>
<tr><td>
<span style="font-size: 80%"><span class="adl">www.yepi.ws</span>&nbsp;&nbsp;&nbsp;&nbsp;
Find free stock photos with <a href="http://www.yepi.ws/fotofi/free-stock-photos">Fotofi</a>. More than 100 million photos available.</span>
</td></tr>
</table>
</center>
-->

</div>

{{ template "analytics.html" . }}

<script charset="utf-8" type="text/javascript" src="{{ .ArticlesJsUrl }}"></script>

</body>
</html>
