<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Documents by Krzysztof Kowalczyk</title>
  <link href="/css/main-2ad8fabd.css" rel="stylesheet">

  <style type="text/css">
    div#content {
      margin: 1.75em auto;
      line-height: 150%;
      width: 600px;
    }

    .light {
      color: #5a5a5a;
    }
  </style>

</head>

<body>
  {{ template "page_navbar.tmpl.html" . }}

  <div id="content">
    <p><a href="/">Home</a> / Documents</p>

    <h3>Documents on this website</h3>

    <ul>
      <li><a href="/articles/where-to-get-free-ebooks-epub-mobi.html">List of websites that offer free ePub/mobi eBooks for download</a></li>
      <li><a href="/articles/epub-ebook-reader-viewer-for-windows.html">List of epub readers and viewers for Windows</a></li>
      <li><a href="/articles/mobi-ebook-reader-viewer-for-windows.html">List of mobi readers and viewers for Windows</a></li>
      <li><a href="/articles/chm-reader-viewer-for-windows.html">List of CHM readers and viewers for Windows</a></li>
      <li><a href="/articles/cbz-cbr-comic-book-reader-viewer-for-windows.html">List of CBZ, CBR, comic-book readers and viewers for Windows</a></li>
      <li><a href="/book/go-cookbook.html">Go Cookbook</a></li>
    </ul>

    <h3>Oldies</h3>

    <ul>
      <li> <a href="/articles/engineering-school.html">Things I Wish I Learned in Engineering School</a> - summary of Rick Cattell's
        talk.</li>
      <li> <a href="/articles/software-engineering.html">Things I Learned the Hard Way - Engineering and
    Computer Science in the Real World</a> - summary of David Parmenter's talk </li>
      <li> <a href="/articles/learned-gold-rush.html">What I've learned</a> from "After the Gold Rush"</li>
      <li> <a href="/articles/22-marketing-laws.html">Summary of the book</a> "The 22 Immutable Marketing Laws"</li>
      <!--
      <li><a href="/extremeoptimizations/index.html">Extreme (size) optimization in C, C++ and Objective-C</a>
        <span class="light">(work in progress)</span></li>
      -->
    </ul>

    <hr>
    <center><a href="/">Krzysztof Kowalczyk</a></center>
  </div>

  {{template "analytics.tmpl.html"}}

</body>

</html>