<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">
    <link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">
    <link rel="canonical" href="{{.CanonicalURL}}" />
    {{if .Article.Description}}
        <meta name="description" content="{{.Article.Description}}">
    {{end}}

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@kjk">
    <meta name="twitter:title" content="{{.PageTitle}}">
    {{if .Article.Description}}
    <meta name="twitter:description" content="{{.Article.Description}}">
    {{end}}
    <meta name="twitter:creator" content="@kjk">
    {{if .CoverImage}}
    <meta name="twitter:image" content="{{.CoverImage}}">
    {{end}}

    <!-- Open Graph i.e. Facebook data -->
    <meta property="og:title" content="{{.PageTitle}}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{.CanonicalURL}}" />
    {{if .Article.Description}}
    <meta property="og:description" content="{{.Article.Description}}">
    {{end}}
    {{if .CoverImage}}
    <meta property="og:image" content="{{.CoverImage}}">
    {{end}}

    <title>{{.PageTitle}}</title>

    <link href="/css/main-d1c62d23.css" rel="stylesheet">
    <style type="text/css">
        .share-me {
            font-size: 90%;
            color: gray;
            background-color: #f3fafd;
            display: inline-block;
            padding: 8px 16px;
        }
    </style>
    <script src="/js/highlight.js"></script>

    <script>
        {{ template "tagcloud.tmpl.js" }}

        hljs.initHighlightingOnLoad();

        function articlesJsonLoaded(articlesJson) {
            articles_json = articlesJson;
            /* no need to do anything */
        }
    </script>

    {{if .Reload}}
    <script>
        var ws = new WebSocket('ws://' + location.host + '/ws');
        ws.onopen = function (event) {
            ws.send(location.pathname.substr(1));
        };
        ws.onclose = function (event) {
            location.reload();
        };
        ws.onmessage = function (event) {
            location.reload();
        };
        ws.onerror = function (event) {
            location.reload();
        };
    </script>
    {{end}}

</head>

<body>

    {{ template "page_navbar.tmpl.html" . }}

    <div id="content">

        <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
            <div class="title">
                <a href="/">Home</a> {{if .Article.CollectionURL}} / <a href="{{.Article.CollectionURL}}">{{.Article.Collection}}</a> {{end}} / {{.Article.Title}}
            </div>

            {{if .Article.HeaderImageURL}}
            <div class="article-header hide-mobile">
                <center><img class="hdr-image hide-mobile" src="{{.Article.HeaderImageURL}}"></center>
            </div>
            {{end}}

            <div>
                {{.Article.HTMLBody}}
            </div>

            {{if .Article.CollectionURL}}
            <center>
                <div style="font-size: 120%">
                    Part of <a href="{{.Article.CollectionURL}}">{{.Article.Collection}}</a>
                </div>
            </center>
            <div class="article-meta">
                <div style="margin-left:auto">
                    Found a mistake, have a comment? <a href="/contactme.html">Let me know</a>.
                 </div>
            </div>
            {{else}}
            <div class="article-meta">
                <div>
                    Written on {{.Article.PublishedOnShort}}{{if .Article.TagsDisplay}}. Topics: {{.Article.TagsDisplay}}{{end}}.
                </div>
                <div style="margin-left:auto">
                    Found a mistake, have a comment? <a href="/contactme.html">Let me know</a>.
                 </div>
            </div>
            {{end}}
            <hr>

            <p></p>
            {{if not .Article.CollectionURL}}
            <div class="nav-prev-next">
                <div>
                    {{if .NextArticle}}
                    <a title="{{.NextArticle.Title}}" href="/{{.NextArticle.URL}}">« {{.NextArticle.Title}}</a>{{end}}
                </div>
                <div>
                    {{if .PrevArticle}}
                    <a title="{{.PrevArticle.Title}}" href="/{{.PrevArticle.URL}}">{{.PrevArticle.Title}} »</a>{{end}}
                </div>
            </div>
            {{end}}
            <p></p>
            <center>
                <p class="share-me">
            {{.ShareHTML}}
            </p>
            </center>
            <p></p>
        </div>

    </div>

    {{ template "analytics.tmpl.html" . }}

    <script charset="utf-8" type="text/javascript" src="{{ .ArticlesJsURL }}">

    </script>

</body>

</html>