<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">
    <link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">
    <link rel="canonical" href="{{.CanonicalURL}}" /> {{if .Article.Description}}
    <meta name="description" content="{{.Article.Description}}"> {{end}}

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@kjk">
    <meta name="twitter:title" content="{{.PageTitle}}"> {{if .Article.Description}}
    <meta name="twitter:description" content="{{.Article.Description}}"> {{end}}
    <meta name="twitter:creator" content="@kjk"> {{if .CoverImage}}
    <meta name="twitter:image" content="{{.CoverImage}}"> {{end}}

    <!-- Open Graph i.e. Facebook data -->
    <meta property="og:title" content="{{.PageTitle}}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{.CanonicalURL}}" /> {{if .Article.Description}}
    <meta property="og:description" content="{{.Article.Description}}"> {{end}} {{if .CoverImage}}
    <meta property="og:image" content="{{.CoverImage}}"> {{end}}

    <title>{{.PageTitle}}</title>

    <link href="/css/main.css" rel="stylesheet">
    <script type="text/javascript">
        // describes which toggles are open and which ones are closed
        var openedToggles = {};

        function updateToggles() {
            //console.log("updateToggles");
            // get all elements with id attribute.
            var els = document.querySelectorAll("[id]");
            function onel(el) {
                // format of attribute we recognize is:
                // toggle-${what}-${no}
                var id = el.getAttribute("id");
                var parts = id.split("-")
                if ((parts.length != 3) || (parts[0] != "toggle")) {
                    return;
                }
                var what = parts[1];
                var no = parts[2];
                var isOpen = (openedToggles[no] === "yes");
                // console.log("id:", id, "isOpen:", isOpen);
                if (what === "content") {
                    var disp = isOpen ? "block" : "none";
                    el.style.display = disp;
                } else if (what == "opener") {
                    var disp = isOpen ? "none" : "block";
                    el.style.display = disp;
                } else if (what == "closer") {
                    var disp = isOpen ? "block" : "none";
                    el.style.display = disp;
                }
            }
            els.forEach(onel);
        }

        function onToggleClick(el) {
            //console.log("onToggleClick. el:", el);
            var id = el.getAttribute("id");
            var parts = id.split("-")
            if ((parts.length != 3) || (parts[0] != "toggle")) {
                return;
            }
            var what = parts[1];
            if (what !== "toggle") {
                console.log("unexpected what:", what);
                return;
            }
            var no = parts[2];
            var isOpen = (openedToggles[no] === "yes");
            if (isOpen) {
                delete openedToggles[no];
            } else {
                openedToggles[no] = "yes";
            }
            updateToggles();
        }

        // function onLoad() { updateToggles(); }
        // window.onload = onLoad;

    </script>
</head>

<body>

    {{ template "page_navbar.tmpl.html" . }}

    <div id="content">

        <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
            <div class="title">
                <a href="/">Home</a> {{if .Article.CollectionURL}} /
                <a href="{{.Article.CollectionURL}}">{{.Article.Collection}}</a> {{end}} / {{.Article.Title}}
            </div>

            {{if .Article.HeaderImageURL}}
            <div class="article-header hide-mobile">
                <center>
                    <img class="hdr-image hide-mobile" src="{{.Article.HeaderImageURL}}">
                </center>
            </div>
            {{end}}

            <div>
                {{.Article.HTMLBody}}
            </div>

            {{if .Article.CollectionURL}}
            <center>
                <div style="font-size: 120%">
                    Part of
                    <a href="{{.Article.CollectionURL}}">{{.Article.Collection}}</a>
                </div>
            </center>
            {{else}}
            <center>
                <div style="font-size: 120%">
                    Go to
                    <a href="/">index of articles</a>.
                </div>
            </center>
            {{end}}

            <div class="article-meta">
                {{if not .Article.CollectionURL}}
                <div>
                    Written on {{.Article.PublishedOnShort}}{{if .Article.TagsDisplay}}. Topics: {{.Article.TagsDisplay}}{{end}}.
                </div>
                {{end}}
                <div style="margin-left:auto">
                    Found a mistake, have a comment?
                    <a href="/contactme.html">Let me know</a>.
                </div>
            </div>

            <p></p>
            <center>
                <p class="share-me">
                    {{.ShareHTML}}
                </p>
            </center>
            <p></p>
        </div>

    </div>

    {{if .GitHubEditURL}}
    <div class="github-link">
        <a href="{{.GitHubEditURL}}" target="_blank">Edit on GitHub</a>
    </div>
    {{end}}

    <!-- -->

    {{if .NotionEditURL}}
    <div class="github-link">
        <a href="{{.NotionEditURL}}" target="_blank">Edit on Notion</a>
    </div>
    {{end}}

    <!-- -->
    {{ template "analytics.tmpl.html" . }}

</body>

</html>