<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{.PageTitle}}</title>

    <link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">
    <link href="/css/main-2ad8fabd.css" rel="stylesheet">

    <script src="/js/highlight.js"></script>

    <script>
        {{ template "tagcloud.tmpl.js" }}

        hljs.initHighlightingOnLoad();

        function articlesJsonLoaded(articlesJson) {
            articles_json = articlesJson;
            /* no need to do anything */
        }
    </script>

    {{if .Reload}}
    <script>
        var ws = new WebSocket('ws://' + location.host + '/ws');
        ws.onopen = function (event) {
            ws.send(location.pathname.substr(1));
        };
        ws.onclose = function (event) {
            location.reload();
        };
        ws.onmessage = function (event) {
            location.reload();
        };
        ws.onerror = function (event) {
            location.reload();
        };
    </script>
    {{end}}

</head>

<body>

    {{ template "page_navbar.tmpl.html" . }}

    <div id="content">

        <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
            <div class="title">

                <a href="/">Home</a> {{if .Article.CollectionURL}} / <a href="{{.Article.CollectionURL}}">{{.Article.Collection}}</a> {{end}} / {{.Article.Title}}
            </div>

            {{if .Article.HeaderImageURL}}
            <div class="article-header hide-mobile">
                <img class = "hide-mobile" src="{{.Article.HeaderImageURL}}">
            </div>
            {{end}}

            <div style="margin-right:48px">
                {{.Article.HTMLBody}}
            </div>

            {{if .Article.CollectionURL}}
            <div class="article-header">
                <a href="{{.Article.CollectionURL}}">{{.Article.Collection}}</a> / <b>{{.Article.Title}}</b>
            </div>
            <p></p>
            {{end}}

            <div class="article-meta">
                <div>
                    Written on {{.Article.PublishedOnShort}}{{if .Article.TagsDisplay}}. Topics: {{.Article.TagsDisplay}}{{end}}.
                </div>
                <div style="margin-left:auto">
                    Found a mistake, have a comment? <a href="/contactme.html">Let me know</a>.
                 </div>
            </div>
            <hr>

            <p></p>
            {{if not .Article.CollectionURL}}
            <div class="nav-prev-next">
                <div>
                    {{if .NextArticle}}
                    <a title="{{.NextArticle.Title}}" href="/{{.NextArticle.Permalink}}">« {{.NextArticle.Title}}</a>{{end}}
                </div>
                <div>
                    {{if .PrevArticle}}
                    <a title="{{.PrevArticle.Title}}" href="/{{.PrevArticle.Permalink}}">{{.PrevArticle.Title}} »</a>{{end}}
                </div>
            </div>
            {{end}}
        </div>

    </div>

    {{ template "analytics.tmpl.html" . }}

    <script charset="utf-8" type="text/javascript" src="{{ .ArticlesJsURL }}">

    </script>

</body>

</html>