<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Krzysztof Kowalczyk</title>
    <link href="/css/main-dcd25a44.css" rel="stylesheet">
</head>

<body>
    {{ template "page_navbar.tmpl.html" . }}

    <div id="content" style="clear:both">
        <div style="display:flexbox; flex-direction: row; justify-content: center">
            <div style="display:flexbox; flex-direction: column; justify-content: center; border-bottom: 1px solid rgba(0,0,0,0.1); padding-bottom: 10px; margin-bottom: 24px; color: #777">
                <div style="">
                    Hello. I'm <a href="/static/resume.html">Chris</a>. I live in San Francisco.
                </div>
                <div>
                    I made <a href="https://www.sumatrapdfreader.org/free-pdf-reader.html">SumatraPDF</a> and <a href="/software">few other things</a>.
                </div>
            </div>
        </div>

        <div class="centered">
            <table>
                {{ range .Articles }}
                <tr>
                    <td colspan="2" style="padding-top:2px; padding-bottom: 4px">
                        <a href="/{{ .Permalink }}">{{.Title}}</a> {{ if .TagsDisplay }}
                        <span style="font-size:80%">
              <span class="taglink">in:</span> {{ .TagsDisplay }}</span>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}

                <tr>
                    <td>
                        <br> Subscribe to <a href="/atom.xml">RSS/Atom feed</a>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <hr> {{ template "analytics.tmpl.html" . }}

</body>

</html>