<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">
    <meta name="description" content="Personal page of Krzysztof Kowalczyk. Programmer, creator of SumatraPDF.">

    <title>Krzysztof Kowalczyk</title>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    {{ template "page_navbar.tmpl.html" . }}

    <div id="content" style="clear:both; ">
        <div class="mainpage-wrap">
            <div style="display:flex; flex-direction: row">
                <div>
                    <img src="/gfx/head-bw-sq-120.png" width="80px">
                </div>
                <div style="display:flex; flex-direction: column; padding-left: 1em; margin-top: -4px">
                    <div class="headline">
                        Hello. I'm
                        <a href="/resume.html">Chris</a>.
                    </div>

                    <div class="headline">
                        I maintain free Go book
                        <a href="https://www.programming-books.io/essential/go/">Essential Go</a> and
                        <a href="/software/">few other things</a>.
                    </div>

                    <div class="headline">
                        Here's how to
                        <a href="/contactme.html">contact me</a>.
                    </div>
                </div>
            </div>
        </div>

        <div class="articles-list-wrap">
            <div>
                <div class="headline" style="float: right; font-size:80%">
                    <a href="/atom.xml">RSS/Atom feed</a>
                </div>

                <center>
                    <b>Recently I wrote</b>
                </center>
                {{range .Articles}}
                <div style="margin-left: 1em;">
                    <a href="{{.URL}}">{{.Title}}</a>
                    {{if .TagsDisplay}}
                    <span style="font-size:80%">
                        <span class="taglink">in:</span> {{.TagsDisplay}}
                    </span>
                    {{end}}
                </div>
                {{end}}
                <div>
                    <a href="/archives.html">See all...</a>
                </div>

                <hr>

                <center>
                    <b>My external brain</b>
                </center>
                <center>
                    <a style="font-size: 85%; margin-top: -6px" href="/changelog.html">changelog</a>
                </center>
                <div>
                    {{.WebsiteHTML}}
                </div>
            </div>
        </div>
    </div>

    <hr> {{ template "analytics.tmpl.html" . }}

</body>

</html>