<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Krzysztof Kowalczyk notes by tag</title>
  <link href="/css/main-0c2d6a4f.css" rel="stylesheet">
</head>

<body>
  {{ template "page_navbar.tmpl.html" . }}

  <div id="content">
    <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
      <div class="title">
        <a href="/">Home</a> / <a href="/dailynotes">Notes</a> / {{len .Notes}} {{if gt (len .Notes) 1}}notes{{else}}note{{end}}
        tagged with #{{.Tag}}
      </div>

      <br/>
      {{range .Notes}}
      <div class="notes-note">
        <div class="notes-meta"><a href="{{.URL}}">{{.DayWithNameStr}}</a>{{if .Tags}}<span class="notes-tags">{{range .Tags}}<a href="/dailynotes/tag/{{.}}">#{{.}}</a>{{end}}</span>{{end}}</div>
        <pre class="notes-note-body">{{.HTMLBody}}</pre>
      </div>
      <hr>
      {{end}}

    </div>
    <br>
  </div>

  {{ template "analytics.tmpl.html" . }}

</body>

</html>