<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {{if .Note.Title}}
  <title>{{.Note.Title}}</title>{{end}}
  <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
  {{template "page_navbar.tmpl.html"}}

  <div id="content">

    <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
      <div class="title">
        <a href="/">Home</a> / <a href="/dailynotes">Notes</a> / <a href="/dailynotes/week/{{ .WeekStartDay }}">Week of {{ .WeekStartDay }}</a> / {{if .Note.Title}}{{.Note.Title}}{{else}}Note{{end}}
      </div>

      <div class="notes-meta" style="border-top: 0px">{{.Note.DayWithNameStr}}{{if .Note.Tags}}<span class="notes-tags">{{range .Note.Tags}}<a href="/dailynotes/tag/{{.}}">#{{.}}</a>{{end}}</span>{{end}}</div>
      <p></p>
      <pre class="notes-note-body">{{.Note.HTMLBody}}</pre>

      <hr><br>
    </div>
  </div>

  {{template "analytics.tmpl.html" .}}

</body>

</html>