<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="noindex">
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">

<title>All articles</title>

{% include "inline_css.html" %}
<style>

#arc {
  border-collapse: collapse;
  width: 100%;
  margin-top: 12px;
}

#arc th {
  padding: 0 1.75em 0 0;
  vertical-align: baseline;
  text-align: right;
}

.year th {
  background: #dfdfdf;
  color: black;
}
</style>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').html(html);
}

$(document).ready(function(){
});
</script>

</head>
<body>

<div id="tophdr">
  <h1 style="padding-left:12px">
    <a href="/"  class="namelink">Krzysztof Kowalczyk</a>
    <span style="float:right; font-size:80%; font-weight:normal; margin-right: 12px;">
      <a class="hdrlink" href="/">Blog</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/notes/">Notes</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/software.html">My Software</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/documents.html">My Documents</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/krzysztof.html">About Me</a>
    </span>
  </h1>
</div>

<div id="content" style="line-height:1.50; margin-top: 18px; margin-left: 12px; margin-right: 12px;">

  {% if is_admin %}
  <center style="font-size: 90%; background: #ddd">
  <a href="{{ login_out_url }}">Log out</a>&nbsp;
  <a href="/app/edit">New Post</a>&nbsp;
  <a href="/app/showprivate">Show private</a>&nbsp;
  </center>
  {% endif %}

  {% if posts_count %}
    <div style="font-size: 110%; font-weight: bold;">
      {% if tag %}
        {{ posts_count }} posts tagged as '{{ tag }}':
      {% else %}
        All {{ posts_count }} posts:
      {% endif %} 
      {% if not is_admign %}
      <a id="login" class="invisible" onMouseOver="showById('login');" onMouseOut="hideById('login');" href="{{ login_out_url }}">login</a>
      {% endif %}
    </div>

    <table id=arc>
      {% for year in years %}
        <tr class=year><th colspan="2" style="text-align: left; padding-left: 5px;">{{ year.name }}</th></tr>
        {% for month in year.months %}
        <tr><th>{{ month.name }}</th><td></td></tr>    
          {% for article in month.articles %}
          <tr>
            <th>{{ article.day }}</th>
            <td>
            <a href="/{{ article.permalink }}">{{ article.title }}</a>
            {% if article.tags_display %}
              <span class="taglink">tags:</span> {{ article.tags_display }}
            {% endif %}

            {% if article.is_deleted %}
            &nbsp;<font color="red">deleted</font>
            {% endif %}
            {% if not article.is_public %}
            &nbsp;<font color="red">private</font>
            {% endif %}
            {% if is_admin %}&nbsp;
            <a id="article_edit" href="/app/edit?article_permalink={{ article.permalink }}">edit</a>
            {% endif %}
          </td></tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
    <br>
  {% endif %}

  <div style="font-size:110%; font-weight:bold;">Tags:</div>
  <div id="tagCloud" style="margin-left:22px; margin-right:22px;"></div>
  <br>
  <hr>
</div>

{% include "analytics.html" %}

<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>

</body>
</html>
