<!doctype HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% if no_index %}<meta name="robots" content="noindex">{% endif %}
<link  href="{{ prettify_css_url }}" type="text/css" rel="stylesheet">

<title>Krzysztof J. Kowalczyk's notebook</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">

function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;

  //var html = genTagCloudHtml();
  //$('#tagCloud').html(html);
}

$(document).ready(function(){
  $("#searchFieldId").focus(function(){
    $(this).val("").removeClass("inactiveSearch").addClass("activeSearch");
  });
  $("#searchFieldId").blur(function(){
    $(this).val("Search this site").addClass("inactiveSearch").removeClass("activeSearch");
  });

  $("#searchFieldId").blur(); /* force setting the text */
});

</script>

<script src="{{ prettify_js_url }}" type="text/javascript"></script>

{% include "inline_css.html" %}
<style>
.l {
  margin-top: 2px;
}

.smaller {
  margin-top: 0px;
  margin-bottom: 3px;
  color: #555;
}

.sidebarhdr {
  margin-bottom: 4px;
  font-weight: bold;
}

.currhdrlink {
  padding-bottom: 4px;
  border-bottom: 3px solid #fff;
}

.title {
  font-weight: bold;
  font-size: 100%;
}

.postmeta {
  font-size: 80%;
}

.onenote {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 6px;
  background-color: #eee;
  margin-bottom: 8px;
  padding-top: 4px;
}

.onenote h1, .onenote h2, .onenote h3 {
  font-size: 90%;
}

</style>
</head>

<body onload="prettyPrint()">

<div id="tophdr">
  <h1 style="padding-left:12px">
    <a href="/" class="namelink">Krzysztof Kowalczyk</a>
    <span style="float:right; font-size:80%; font-weight:normal;  margin-right: 12px;">
      <a class="hdrlink" href="/">Blog</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <span class="hdrlink currhdrlink" href="/notes/">Notes</span>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/software.html">My Software</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/documents.html">My Documents</a>
      <span style="color:gray">&nbsp;&bull;&nbsp;</span>
      <a class="hdrlink" href="/static/krzysztof.html">About Me</a>
    </span>
  </h1>
</div>

<div id="content">

  <div style="float: right; margin-right: 12px; margin-left: 12px; font-size: 80%">

    <center>
      <form style="display:inline;" method="get" action="http://google.com/search">
        <input type="hidden" name="IncludeBlogs" value="1">
        <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
        <input size=36 type="text" style="font-size: 90%;" name="q" id="searchFieldId">
      </form><br>
      {% if not is_admin %} <a id="login_id" class="invisible" onMouseOver="showById('login_id');" onMouseOut="hideById('login_id');" href="{{ login_out_url }}">login</a>
      {% endif %}
    </center>
  
    {% if is_admin %}
    <div id="navarea" style="border: 1px solid #CCC; padding: 6px; margin-top: 8px;">
      <div class="sidebarhdr">Admin actions</div>
      <div style="margin-left: 6px">
        <div><a href="{{ login_out_url }}">log out</a></div>
        <div class="l"><a href="/app/edit">new blog post</a></div>
        <div class="l"><a href="/app/edit?note=yes">new note</a></div>
        <div class="l"><a href="/app/showprivate">show private</a></div>
      </div>
    </div>
    {% endif %}  
  </div>

  <div id="post" style="margin-left: 18px; margin-top:12px;">
    {% for article in articles_summary %}

    <div class="onenote">
      <a href="/{{ article.permalink }}" class="title">{{ article.title|escape }}</a>
      <span class="postmeta nowrap">
        {{ article.published_on|date:"M d Y" }}
        {% if article.tags_display %}
         &bull; <a href="/tag/" class="taglink">Tags</a>: {{ article.tags_display }}
        {% endif %}
        {% if not article.is_public %} &nbsp;<font style="color: red;">private</font> {% endif %}
        {% if is_admin %}
        &nbsp;<a id="article_{{ article.no }}" href="/app/edit?article_permalink={{ article.permalink }}">edit</a>
        {% endif %}
      </span>

      {{ article.html_body }}
    </div>
    {% endfor %}
  </div>

<center class="postmeta" style="margin-bottom: 12px;">
{% if newer_page %}
<a title="page {{ newer_page.no }}" href="/notes/{{ newer_page.no }}">← newer</a>
{% else %}
← newer
{% endif %}

&bull;
{{ page_no }} of <a href="/archives.html">{{ pages_count }}</a> pages
&bull;

{% if older_page %}
<a title="page{{ older_page.no }}" href="/notes/{{ older_page.no }}">older →</a>
{% else %}
older →
{% endif %}
</center>

</div>

{% include "analytics.html" %}
<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>
</body>
</html>
