<div id="tophdr">
    <ul id="nav">
      <li><a href="/">Krzysztof Kowalczyk</a></li>
      <li><span style="color:#aaa">&bull;</span></li>
      {{ if .IsAdmin }}
      <li><a href="#" style="color:red;">Admin</a>
        <ul>
          {{ if .Article }}
            <li><a href="/app/edit?article_id={{ .Article.Id }}">Edit</a></li>
            {{ if .Article.IsDeleted }}
              <li><a href="/app/undelete?article_id={{ .Article.Id }}">Undelete</a></li>
              {{ else }}
              <li><a href="/app/delete?article_id={{ .Article.Id }}">Delete</a></li>
            {{ end }}
          {{ end }}
          <li><a href="/app/edit">New Blog Post</a></li>
          <li><a href="/app/edit?note=yes">New Note</a></li>
          <li><a href="/app/showprivate">Show Private</a></li>
          <li><a href="/app/showdeleted">Show Deleted</a></li>
          <li><a href="{{ .LogInOutUrl }}">Log Out</a></li>
        </ul>
      </li>
      <li><span style="color:#aaa">&bull;</span></li>
      {{ end }}
      <li><a href="/static/resume.html">About me</a></span></li>
      <li><span style="color:#aaa">&bull;</span></li>
      <li><a href="/archives.html">Articles</a></li>
      <li><span style="color:#aaa">&bull;</span></li>
      <li><a href="/software/">Software</a></li>
      <li><span style="color:#aaa">&bull;</span></li>
      <li><a href="/static/documents.html">My Documents</a></li>
    </ul>
</div>
