<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Krzysztof Kowalczyk</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>

    {{ template "page_navbar.html" . }}

    <div id="content">

        <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
            <div class="title">
                {{ if .StartDay }}
                <a href="/">Home</a> / <a href="/worklog">Work Log</a> / {{ .StartDay }}, {{ else }}
                <a href="/">Home</a> / Work Log, {{ end }} {{ len .Posts }} {{ if gt (len .Posts) 1 }}posts{{else}}post{{end}}
            </div>

            {{ range .Posts }}
            <pre class="worklog-post"><span class="worklog-day">{{ .DayStr }}</span>{{ if .Tags }}<span class="worklog-tags">{{ range .Tags}}<a href="/worklog/tag/{{.}}">#{{.}}</a>{{end}}</span>{{ end }}{{ .HTMLBody }}</pre> {{ end }}

            <div class="nav-prev-next">
                {{ if .PrevWeek }}
                <div>
                    <a title="{{ .PrevWeek }}" href="/worklog/week/{{ .PrevWeek }}">« {{ .PrevWeek }}</a>
                </div>
                {{ end }} {{ if .NextWeek }}
                <div>
                    <a title="{{ .NextWeek }}" href="/worklog/week/{{ .NextWeek }}">{{ .NextWeek }} »</a>
                </div>
                {{ end }}
            </div>

        </div>
    </div>

    {{ template "analytics.html" . }}

</body>

</html>