<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Generate a unique id</title>
    <link href="/css/main-0c2d6a4f.css" rel="stylesheet">
    <script src="/js/highlight.js"></script>
</head>

<body>
    {{ template "page_navbar.tmpl.html" . }}

    <div id="content">
        <div id="post" style="margin-left:auto;margin-right:auto;margin-top:2em;">
            <div class="title">
                <a href="/">Home</a> / Generate unique id
            </div>
            <p>This page generates a unique id using different Go libraries. Reload the page to refresh ids.</p>
            <table>
                <tr>
                    <td><a href="https://github.com/rs/xid">github.com/rs/xid</a></td>
                    <td><tt style="font-weight: bold">{{.UniqueIDXid}}</tt></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/segmentio/ksuid">github.com/segmentio/ksuid</a></td>
                    <td><tt style="font-weight: bold">{{.UniqueIDKsuid}}</tt></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/oklog/ulid">github.com/oklog/ulid</a></td>
                    <td><tt style="font-weight: bold">{{.UniqueIDUlid}}</tt></td>
                </tr>
            </table>
        </div>
    </div>

    {{ template "analytics.tmpl.html" . }}
</body>

</html>