body {
    margin: 0px 16px 0px 16px;
    background: white;
    color: #333;
    /* same as github.com */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12pt;
    line-height: 1.4;
}

code {
    background-color: #f9f9f9;
}

div>p,
li>p {
    line-height: 1.5em;
}

h1,
h2,
h3 {
    font-size: medium;
}

h1 {
    margin-bottom: 2px;
    padding: 0;
}

img {
    border: 0;
}

blockquote {
    font-style: italic;
}

div#tophdr {
    font-size: 10pt;
    font-weight: bold;
    margin: 0px;
    padding: 6pt;
    padding-left: 16px;
    padding-right: 16px
}

div.centered {
    text-align: center;
}

div.centered table {
    margin: 0 auto;
    text-align: left;
}

div#post {
    min-width: 400px;
    max-width: 960px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}

.title,
.title:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 140%;
}

a {
    color: #0894f1;
    text-decoration: none;
    background: transparent;
}

a:hover {
    text-decoration: underline;
}

.taglink {
    color: gray;
    text-decoration: none;
}

a.taglink:hover {
    text-decoration: underline;
}

.onHoverVisible a {
    color: white;
}

.onHoverVisible a:hover {
    color: gray;
}

.article-header {
    margin-top: 16px;
}

/* https://stackoverflow.com/questions/19390690/css-media-queries-to-hide-and-show-page-elements
TODO: it still loads the image if it's inside div hidden with this trick
*/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

.article-meta {
    display:flex;
    color: gray;
    font-size: 80%;
}

.ad {
    font-family: geneva, helvetica, arial, sans-serif;
    font-size: 12pt;
    background-color: #FBF0FA;
    padding: 4px 8px;
}

.adl {
    color: green;
}

.light {
    color: #999999;
}

.invisible {
    color: #fcfcfa
}

.visible {
    color: #000
}

.nowrap {
    white-space: nowrap;
}

.inactiveSearch {
    color: gray;
    font-style: italic;
}

.activeSearch {
    color: black;
    font-style: normal;
}


/* drop-down menu based on http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/ */

#nav {
    list-style: none;
    font-weight: bold;
    float: right;
    margin-top: 0px;
    position: relative;
    z-index: 5;
}

#nav li {
    float: left;
    margin-right: 4pt;
    position: relative;
}

#nav a {
    display: block;
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#nav a:hover {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #666;
}


/* drop-down */

#nav ul {
    background: #4D5456;
    list-style: none;
    position: absolute;
    left: -9999px;
}

#nav ul li {
    padding-top: 1px;
    float: none;
}

#nav ul a {
    white-space: nowrap;
}

#nav li:hover ul {
    padding: 8pt;
    left: -8pt;
}

#nav li:hover a {
    text-decoration: none;
}

#nav li:hover ul a {
    color: white;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

#nav li:hover ul li a:hover {
    border-bottom: 3px solid;
}

#container {
    margin-left: 16pt;
    margin-right: 16pt;
}


/* used in mainpage.html */

.mainpage-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777;
    padding-right: 8px;
    padding-left: 8px;
}

.underline {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 4px;
    margin-bottom: 24px;
}

.articles-list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
}

.headline {
    line-height: 1.4em;
}

.headline a {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.headline a:hover {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #666;
}

.notes-note-body {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 10pt;
    white-space: pre-wrap;
}

.notes-tag-list {
    font-size: 8pt;
    margin-top: -12px;
    margin-bottom: 8px;
    opacity: .6;
}

.notes-tag:after {
    content: " \00b7 "; /* middot */
}

.notes-tag:last-child:after {
    content: "";
}

.notes-tag-count {
    color: #080;
}

.notes-tag-list a {
    padding: 0px;
    color: #080;
    text-decoration: none;
}

.notes-tag-list a:hover {
    text-decoration: underline;
}

.notes-meta {
    font-size: 8pt;
    display: inline-block;
    color: white;
    color: #080;
}

.notes-meta a {
    padding: 0px;
    color: #080;
    text-decoration: none;
}

.notes-meta a:hover {
    text-decoration: underline;
}

.notes-tags a {
    margin-left: 8px;
}

.notes-day {
    font-weight: bold;
    font-size: 8pt;
    padding: 0px;
    padding-right: 1em;
}

.note-code {
    background-color: #fdfdfd;
    border: 1px solid #e5e5e5;
    overflow-x: visible;
    padding: 0.5em;
    tab-size: 4;
}

.nav-prev-next {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #fdfdfd;
    color: #657b83;
    border: 1px solid #e5e5e5;
    overflow-x: visible;
    font-size: 85%;
    tab-size: 2;
}

.hljs-comment,
.hljs-quote {
    color: #93a1a1;
}


/* Solarized Green */

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
    color: #859900;
}


/* Solarized Cyan */

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
    color: #2aa198;
}


/* Solarized Blue */

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #268bd2;
}


/* Solarized Yellow */

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
    color: #b58900;
}


/* Solarized Orange */

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
    color: #cb4b16;
}


/* Solarized Red */

.hljs-built_in,
.hljs-deletion {
    color: #dc322f;
}

.hljs-formula {
    background: #eee8d5;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

// https://raw.githubusercontent.com/google/code-prettify/master/src/prettify.css

/**
 * @license
 * Copyright (C) 2015 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/* Pretty printing styles. Used with prettify.js. */


/* SPAN elements with the classes below are added by prettyprint. */

.pln {
    color: #000
}


/* plain text */

@media screen {
    .str {
        color: #080
    }
    /* string content */
    .kwd {
        color: #008
    }
    /* a keyword */
    .com {
        color: #800
    }
    /* a comment */
    .typ {
        color: #606
    }
    /* a type name */
    .lit {
        color: #066
    }
    /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun,
    .opn,
    .clo {
        color: #660
    }
    .tag {
        color: #008
    }
    /* a markup tag name */
    .atn {
        color: #606
    }
    /* a markup attribute name */
    .atv {
        color: #080
    }
    /* a markup attribute value */
    .dec,
    .var {
        color: #606
    }
    /* a declaration; a variable name */
    .fun {
        color: red
    }
    /* a function name */
}


/* Use higher contrast and text-weight for printable form. */

@media print,
projection {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: bold
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404;
        font-weight: bold
    }
    .lit {
        color: #044
    }
    .pun,
    .opn,
    .clo {
        color: #440
    }
    .tag {
        color: #006;
        font-weight: bold
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}


/* Put a border around prettyprinted code snippets. */

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
}


/* Specify class=linenums on a pre to get line numbering */

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}


/* IE indents via margin-left */

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}


/* Alternate shading for lines */

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee
}